*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
!/.idea/
!/.kotlin/
!/.kotlin/sessions/kotlin-compiler-11144544750573038803.salive
!/.idea/assetWizardSettings.xml

!/.idea/compiler.xml

!/.idea/deploymentTargetSelector.xml

!/.idea/gradle.xml

!/.idea/kotlinc.xml

!/.idea/migrations.xml

!/.idea/misc.xml

!/.idea/other.xml

!/.idea/vcs.xml

!/.idea/workspace.xml
